<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>student report</title>
    <style>
      .slanted-header {
        transform: rotate(270deg);
      }

      .page-break {
            page-break-before: always;
        }
    </style>
  </head>
  <body class="student_report">
    <% data.forEach((student) => { %>
    <div class="flex flex-col h-screen page-break">
      <!-- the header -->
      <div class="mx-10 mb-6 mt-12 flex justify-between">
        <div class="w-20 h-20 bg-gray-100 flex items-center justify-center">
          KCPE
        </div>
        <div class="text-center">
          <h1 class="font-bold text-gray-800">JOMVU BRIGHTSTAR ACADEMY</h1>
          <h1 class="font-bold text-gray-600">PO. BOX 9235 - MOMBASA</h1>
          <h1 class="font-bold text-gray-600">STRIVE TO EXCELL</h1>
        </div>
        <div class="w-20 h-20 bg-gray-100 flex items-center justify-center">
          2023
        </div>
      </div>

      <!-- the title -->
      <div class="mx-10 bg-blue-100 p-2 text-center">
        <h1 class="font-bold text-blue-700">ALL EXAMS REPORT CARD</h1>
      </div>
      <!-- student details -->
      <div class="mx-10 py-6 flex space-x-10">
        <div class="flex flex-col gap-y-1">
          <h1 class="font-bold text-gray-800">Name</h1>
          <h1> <%= student.name %></h1>
        </div>
        <div class="flex flex-col gap-y-1">
          <h1 class="font-bold text-gray-800">INDEX NO</h1>
          <h1><%= student.indexNo %></h1>
        </div>
        <div class="flex flex-col gap-y-1">
          <h1 class="font-bold text-gray-800">PARENTS CONTACT</h1>
          <h1><%= student.contact %></h1>
        </div>
      </div>
      <!-- the table -->

      <div class="mx-10 border-blue-200">
        <table class="table-auto border border-collapse w-full">
          <thead>
            <tr>
              <th class="border border-gray-300 p-2"></th>
              <% student.exams.forEach((exam) => { %>
                <th class="border border-gray-300 p-2"><%= exam.name %></th>
              <% }); %>
              <th class="border border-gray-300 p-2">Average</th>
            </tr>
          </thead>
          <tbody>
            <% const subjects = ["math", "eng", "kis", "sci", "sst", "total"]; %>
            <% subjects.forEach((subject) => { %>
              <tr class="text-center">
                <td class="border border-gray-300 p-2 text-start <% if (subject === 'total') { %>font-bold text-center<% } %>""><%= subject.toUpperCase() %></td>
                <% student.exams.forEach((exam) => { %>
                    <td class="border border-gray-300 p-2 <% if (subject === 'total') { %>text-gray-800 font-bold<% } %>"><%= exam[subject] %></td>
                  <% }); %>
                <td class="border border-gray-300 p-2 font-bold">
                  <% const subjectResults = student.exams.map((exam) => parseInt(exam[subject], 10)); %>
                  <%= Math.round(subjectResults.reduce((a, b) => a + b) / subjectResults.length) %>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <!-- end of table -->
      <div class="mx-10 my-4 grid grid-cols-2 space-x-4">
        <div class="flex flex-col h-40 p-2 text-center border border-gray-200">
            <h1 class="text-blue-900">RECENT EXAM MARKS</h1>
            <div class="flex flex-grow items-center justify-center">
                <h1  class="text-xl font-bold text-gray-600"><%= student.currentExamMarks %></h1>
            </div>
          </div>
        <div class="flex flex-col h-40 p-2 text-center border border-gray-200">
          <h1 class="text-blue-900">RECENT EXAM POSITION</h1>
          <div class="flex flex-grow items-center justify-center">
              <h1 class="text-xl font-bold text-gray-600"><%= student.currentExamRank %></h1>
          </div>
        </div>
      </div>
      <div
        class="flex flex-grow flex-col p-5 gap-y-1 items-center justify-center italic"
      >
        <h1>ALL THE BEST IN YOUR UPCOMING KCPE EXAM</h1>
        <h1>Best of wishes</h1>
        <h1>JOMVU BRIGHTSTAR ACADEMY</h1>
      </div>
    </div>
    <% }); %>
  </body>
</html>
